function Card.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 4
push argument 3
pop this 5
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Card.setLocationX 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Card.setLocationY 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Card.getName 0
push argument 0
pop pointer 0
push this 1
return
function Card.getSuit 0
push argument 0
pop pointer 0
push this 0
return
function Card.renderValue 1
push argument 0
pop pointer 0
push argument 1
push argument 2
add
push constant 705
add
pop local 0
push this 1
push this 5
call CardValue.getDeuce 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push local 0
call DrawSuit.deuce 2
pop temp 0
label IF_FALSE0
push this 1
push this 5
call CardValue.getThree 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 6
push local 0
call DrawSuit.three 2
pop temp 0
label IF_FALSE1
push constant 0
return
function Card.render 4
push argument 0
pop pointer 0
call DrawSuit.new 0
pop this 6
push this 3
push constant 32
call Math.multiply 2
pop local 0
push local 0
push constant 256
add
pop local 0
push this 2
pop local 1
push this 2
push constant 16
call Math.multiply 2
pop local 2
push local 2
push constant 5
add
pop local 2
push this 3
pop local 3
push local 3
push constant 4
add
pop local 3
push local 2
push local 3
push local 2
push constant 36
add
push local 3
push constant 42
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 2
push constant 2
add
push local 3
push constant 2
add
push local 2
push constant 34
add
push local 3
push constant 40
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 4
call Suit.getClubs 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push local 0
push local 1
add
push constant 1
add
call DrawSuit.clubs 2
pop temp 0
push pointer 0
push local 1
push local 0
call Card.renderValue 3
pop temp 0
label IF_FALSE0
push this 0
push this 4
call Suit.getDiamonds 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 6
push this 2
call DrawSuit.diamonds 2
pop temp 0
label IF_FALSE1
push this 0
push this 4
call Suit.getHearts 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 6
push this 2
call DrawSuit.hearts 2
pop temp 0
label IF_FALSE2
push this 0
push this 4
call Suit.getSpades 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 6
push this 2
call DrawSuit.spades 2
pop temp 0
label IF_FALSE3
push constant 0
return
