function Card.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 4
push argument 3
pop this 5
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop this 7
push pointer 0
return
function Card.setHidden 0
push argument 0
pop pointer 0
push argument 1
pop this 7
push constant 0
return
function Card.setLocationX 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Card.setLocationY 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Card.getName 0
push argument 0
pop pointer 0
push this 1
return
function Card.getSuit 0
push argument 0
pop pointer 0
push this 0
return
function Card.getValue 0
push argument 0
pop pointer 0
push this 1
push this 5
call CardValue.getDeuce 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
return
label IF_FALSE0
push this 1
push this 5
call CardValue.getThree 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 3
return
label IF_FALSE1
push this 1
push this 5
call CardValue.getFour 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 4
return
label IF_FALSE2
push this 1
push this 5
call CardValue.getFive 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 5
return
label IF_FALSE3
push this 1
push this 5
call CardValue.getSix 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 6
return
label IF_FALSE4
push this 1
push this 5
call CardValue.getSeven 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 7
return
label IF_FALSE5
push this 1
push this 5
call CardValue.getEight 1
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 8
return
label IF_FALSE6
push this 1
push this 5
call CardValue.getNine 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 9
return
label IF_FALSE7
push this 1
push this 5
call CardValue.getTen 1
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 10
return
label IF_FALSE8
push this 1
push this 5
call CardValue.getJack 1
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 10
return
label IF_FALSE9
push this 1
push this 5
call CardValue.getQueen 1
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 10
return
label IF_FALSE10
push this 1
push this 5
call CardValue.getKing 1
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 10
return
label IF_FALSE11
push this 1
push this 5
call CardValue.getAce 1
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 1
return
label IF_FALSE12
push constant 0
return
function Card.renderValue 1
push argument 0
pop pointer 0
push argument 1
push argument 2
add
push constant 705
add
pop local 0
push this 1
push this 5
call CardValue.getDeuce 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push local 0
call DrawSuit.deuce 2
pop temp 0
label IF_FALSE0
push this 1
push this 5
call CardValue.getThree 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 6
push local 0
call DrawSuit.three 2
pop temp 0
label IF_FALSE1
push this 1
push this 5
call CardValue.getFour 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 6
push local 0
call DrawSuit.four 2
pop temp 0
label IF_FALSE2
push this 1
push this 5
call CardValue.getFive 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 6
push local 0
call DrawSuit.five 2
pop temp 0
label IF_FALSE3
push this 1
push this 5
call CardValue.getSix 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 6
push local 0
call DrawSuit.six 2
pop temp 0
label IF_FALSE4
push this 1
push this 5
call CardValue.getSeven 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 6
push local 0
call DrawSuit.seven 2
pop temp 0
label IF_FALSE5
push this 1
push this 5
call CardValue.getEight 1
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 6
push local 0
call DrawSuit.eight 2
pop temp 0
label IF_FALSE6
push this 1
push this 5
call CardValue.getNine 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 6
push local 0
call DrawSuit.nine 2
pop temp 0
label IF_FALSE7
push this 1
push this 5
call CardValue.getTen 1
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 6
push local 0
call DrawSuit.ten 2
pop temp 0
label IF_FALSE8
push this 1
push this 5
call CardValue.getJack 1
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 6
push local 0
call DrawSuit.jack 2
pop temp 0
label IF_FALSE9
push this 1
push this 5
call CardValue.getQueen 1
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 6
push local 0
call DrawSuit.queen 2
pop temp 0
label IF_FALSE10
push this 1
push this 5
call CardValue.getKing 1
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 6
push local 0
call DrawSuit.king 2
pop temp 0
label IF_FALSE11
push this 1
push this 5
call CardValue.getAce 1
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 6
push local 0
call DrawSuit.ace 2
pop temp 0
label IF_FALSE12
push constant 0
return
function Card.renderBorder 1
push argument 0
pop pointer 0
push argument 1
push argument 2
add
pop local 0
push this 6
push local 0
push constant 256
sub
call DrawSuit.topLeft 2
pop temp 0
push this 6
push local 0
push constant 255
sub
call DrawSuit.topRight 2
pop temp 0
push this 6
push local 0
push constant 256
add
call DrawSuit.borderLeft 2
pop temp 0
push this 6
push local 0
push constant 257
add
call DrawSuit.borderRight 2
pop temp 0
push this 6
push local 0
push constant 768
add
call DrawSuit.bottomLeft 2
pop temp 0
push this 6
push local 0
push constant 769
add
call DrawSuit.bottomRight 2
pop temp 0
push constant 0
return
function Card.renderSuit 0
push argument 0
pop pointer 0
push this 0
push this 4
call Suit.getClubs 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push argument 2
push argument 1
add
push constant 255
sub
call DrawSuit.clubTopRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
sub
call DrawSuit.clubTopLeft 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 257
add
call DrawSuit.clubRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
add
call DrawSuit.clubLeft 2
pop temp 0
label IF_FALSE0
push this 0
push this 4
call Suit.getDiamonds 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 6
push argument 2
push argument 1
add
push constant 255
sub
call DrawSuit.diamondsTopRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
sub
call DrawSuit.diamondsTopLeft 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 257
add
call DrawSuit.diamondsBottomRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
add
call DrawSuit.diamondsBottomLeft 2
pop temp 0
label IF_FALSE1
push this 0
push this 4
call Suit.getHearts 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 6
push argument 2
push argument 1
add
push constant 255
sub
call DrawSuit.heartsTopRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
sub
call DrawSuit.heartsTopLeft 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 257
add
call DrawSuit.heartsBottomRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
add
call DrawSuit.heartsBottomLeft 2
pop temp 0
label IF_FALSE2
push this 0
push this 4
call Suit.getSpades 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 6
push argument 2
push argument 1
add
push constant 255
sub
call DrawSuit.spadesTopRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
sub
call DrawSuit.spadesTopLeft 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 257
add
call DrawSuit.spadesBottomRight 2
pop temp 0
push this 6
push argument 2
push argument 1
add
push constant 256
add
call DrawSuit.spadesBottomLeft 2
pop temp 0
label IF_FALSE3
push constant 0
return
function Card.render 4
push argument 0
pop pointer 0
call DrawSuit.new 0
pop this 6
push this 3
push constant 32
call Math.multiply 2
pop local 0
push local 0
push constant 256
add
pop local 0
push this 2
pop local 1
push this 3
pop local 3
push local 3
push constant 4
add
pop local 3
push this 2
push constant 16
call Math.multiply 2
pop local 2
push local 2
push constant 5
add
pop local 2
push pointer 0
push local 1
push local 0
call Card.renderBorder 3
pop temp 0
push this 7
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push local 1
push local 0
call Card.renderValue 3
pop temp 0
push pointer 0
push local 1
push local 0
call Card.renderSuit 3
pop temp 0
push constant 0
return
