function DrawSuit.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop argument 0
push pointer 0
return
function DrawSuit.drawDiamond 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 256
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 896
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 1984
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 4064
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16376
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16376
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16376
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 4064
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 1984
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 896
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 256
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.drawHeart 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 7224
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 15996
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16380
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16380
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 8184
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 2016
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 960
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 384
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.drawSpade 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 960
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 2016
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 8184
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 8184
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16380
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 15324
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 960
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.drawClub 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 960
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 2016
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 8184
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 4080
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 2016
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 25542
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 31134
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 29646
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 960
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push constant 0
return
