function DrawSuit.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function DrawSuit.clubTopRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.clubTopLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.clubLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 12797
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 8445
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 12797
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 1021
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.clubRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 16269
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16133
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16269
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16321
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.diamondsTopLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 2045
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 2045
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1021
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 509
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.diamondsBottomLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 509
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1021
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 1021
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.diamondsTopRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16353
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16353
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16321
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.diamondsBottomRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 16321
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16321
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.heartsTopRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16260
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16130
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 15874
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 15873
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 15873
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.heartsBottomRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 16321
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.heartsBottomLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 509
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1021
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.heartsTopLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 15875
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 32515
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 32643
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 125
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 125
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 509
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.spadesTopRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16353
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16321
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 15873
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.spadesTopLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 2045
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 1021
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.spadesBottomLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 125
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 25597
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 1021
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.spadesBottomRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 15873
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16327
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16321
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.deuce 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 14848
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 15616
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16000
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16192
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.three 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 14352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 12296
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 12352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 12352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 12776
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 14344
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 14352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.four 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 13216
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 13216
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 12296
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.five 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 12320
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 12320
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16360
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 14344
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 14344
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.six 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 12320
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 12320
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16360
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 14344
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 12296
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12296
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 14352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.seven 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 12296
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 14848
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 14848
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 15616
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 15616
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16000
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16000
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16192
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16192
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16160
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.eight 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 15424
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 15424
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.nine 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 12320
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 12352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.ten 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 14448
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 12328
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13096
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12328
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 14440
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.jack 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 14464
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 12352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 13312
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.queen 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 15392
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 14368
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 15184
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 14928
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 15568
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 12816
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 13344
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.king 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 15568
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 15440
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 15952
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16144
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 15888
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 15440
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 13264
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.ace 0
push argument 0
pop pointer 0
push this 0
push constant 0
add
push constant 15392
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 14352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 14800
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 14352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 14352
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 12744
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 13288
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.bottomLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.topRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.bottomRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.topLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.borderRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function DrawSuit.borderLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 0
push this 0
push constant 0
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
