function LLMemNode.new 3
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop argument 0
push argument 1
pop argument 1
push constant 0
pop local 2
push pointer 0
return
function LLMemNode.dispose 0
push argument 0
pop pointer 0
push constant 0
return
function LLMemNode.setLength 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function LLMemNode.getLength 0
push argument 0
pop pointer 0
push this 2
return
function LLMemNode.setLocation 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function LLMemNode.getLocation 0
push argument 0
pop pointer 0
push this 0
return
function LLMemNode.setNext 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function LLMemNode.getNext 0
push argument 0
pop pointer 0
push this 1
return
function LLMemNode.printNodes 1
push argument 0
pop pointer 0
push pointer 0
pop local 0
label WHILE_EXP0
push local 0
call LLMemNode.getNext 1
push constant 0
eq
not
not
if-goto WHILE_END0
call Output.println 0
pop temp 0
push constant 7
call String.new 1
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call LLMemNode.getLength 1
call Output.printInt 1
pop temp 0
push constant 9
call String.new 1
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call LLMemNode.getLocation 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call LLMemNode.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
